In [1]:
import numpy as np
import pandas as pd

## pd.date_range() 함수 알아보기

- 연속적인 날짜 데이터에 사용
- pd.date_range(초기날짜, periods=count)

In [2]:
# 연속된 숫자를 출력 
np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [3]:
# 연속된 날짜 데이터 생성
date_list = pd.date_range('20190226', periods=5)
date_list

DatetimeIndex(['2019-02-26', '2019-02-27', '2019-02-28', '2019-03-01',
               '2019-03-02'],
              dtype='datetime64[ns]', freq='D')

In [4]:
type(date_list)

pandas.core.indexes.datetimes.DatetimeIndex

## 행별 열별로 정렬하기

- 데이타프레임이름.sort_index(axis=0)
- 데이타프레임이름.sort_index(axis=1)
- 데이타프레임이름.sort_index(axis=0/1, ascending=False)
- 원본 데이타프레임 데이터값은 변경이 없다

In [5]:
df1 = pd.DataFrame(np.random.randn(6,4))
df1

          0         1         2         3
0 -1.331896 -1.631497  0.123840  0.798577
1 -0.333579 -1.413326  2.572754  0.344648
2  1.309976  2.331791 -0.368692  0.950627
3  1.275169 -0.087792  0.809987 -0.087855
4 -0.617478  1.710219 -0.659773 -0.429050
5 -1.584088  1.299255  0.565431 -0.558894

In [6]:
df1.columns = ['B','A','D','C']
df1.index = pd.date_range('20190122', periods=6)
df1

                   B         A         D         C
2019-01-22 -1.331896 -1.631497  0.123840  0.798577
2019-01-23 -0.333579 -1.413326  2.572754  0.344648
2019-01-24  1.309976  2.331791 -0.368692  0.950627
2019-01-25  1.275169 -0.087792  0.809987 -0.087855
2019-01-26 -0.617478  1.710219 -0.659773 -0.429050
2019-01-27 -1.584088  1.299255  0.565431 -0.558894

In [7]:
# 행 위치 조정하기 
df1.index

DatetimeIndex(['2019-01-22', '2019-01-23', '2019-01-24', '2019-01-25',
               '2019-01-26', '2019-01-27'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df1.index = ['2019-01-27','2019-01-25', '2019-01-23', 
             '2019-01-22','2019-01-24', '2019-01-26' ]
df1

                   B         A         D         C
2019-01-27 -1.331896 -1.631497  0.123840  0.798577
2019-01-25 -0.333579 -1.413326  2.572754  0.344648
2019-01-23  1.309976  2.331791 -0.368692  0.950627
2019-01-22  1.275169 -0.087792  0.809987 -0.087855
2019-01-24 -0.617478  1.710219 -0.659773 -0.429050
2019-01-26 -1.584088  1.299255  0.565431 -0.558894

In [9]:
# 정렬 - 행의 인덱스 기준 , 오름차순
df1.sort_index(axis=0)

                   B         A         D         C
2019-01-22  1.275169 -0.087792  0.809987 -0.087855
2019-01-23  1.309976  2.331791 -0.368692  0.950627
2019-01-24 -0.617478  1.710219 -0.659773 -0.429050
2019-01-25 -0.333579 -1.413326  2.572754  0.344648
2019-01-26 -1.584088  1.299255  0.565431 -0.558894
2019-01-27 -1.331896 -1.631497  0.123840  0.798577

In [10]:
# 정렬 - 행의 인덱스 기준 , 내림차순
df1.sort_index(axis=0, ascending=False)

                   B         A         D         C
2019-01-27 -1.331896 -1.631497  0.123840  0.798577
2019-01-26 -1.584088  1.299255  0.565431 -0.558894
2019-01-25 -0.333579 -1.413326  2.572754  0.344648
2019-01-24 -0.617478  1.710219 -0.659773 -0.429050
2019-01-23  1.309976  2.331791 -0.368692  0.950627
2019-01-22  1.275169 -0.087792  0.809987 -0.087855

In [11]:
# 정렬 - 열의 인덱스 기준 , 내림차순
df1.sort_index(axis=1, ascending=False)

                   D         C         B         A
2019-01-27  0.123840  0.798577 -1.331896 -1.631497
2019-01-25  2.572754  0.344648 -0.333579 -1.413326
2019-01-23 -0.368692  0.950627  1.309976  2.331791
2019-01-22  0.809987 -0.087855  1.275169 -0.087792
2019-01-24 -0.659773 -0.429050 -0.617478  1.710219
2019-01-26  0.565431 -0.558894 -1.584088  1.299255

In [12]:
# 정렬 - 열의 인덱스 기준 , 오름차순
df1.sort_index(axis=1)

                   A         B         C         D
2019-01-27 -1.631497 -1.331896  0.798577  0.123840
2019-01-25 -1.413326 -0.333579  0.344648  2.572754
2019-01-23  2.331791  1.309976  0.950627 -0.368692
2019-01-22 -0.087792  1.275169 -0.087855  0.809987
2019-01-24  1.710219 -0.617478 -0.429050 -0.659773
2019-01-26  1.299255 -1.584088 -0.558894  0.565431

## 값 기준으로 정렬하기

- 데이타프레임이름. sort_values(by="컬럼명")

In [13]:
df1

                   B         A         D         C
2019-01-27 -1.331896 -1.631497  0.123840  0.798577
2019-01-25 -0.333579 -1.413326  2.572754  0.344648
2019-01-23  1.309976  2.331791 -0.368692  0.950627
2019-01-22  1.275169 -0.087792  0.809987 -0.087855
2019-01-24 -0.617478  1.710219 -0.659773 -0.429050
2019-01-26 -1.584088  1.299255  0.565431 -0.558894

In [14]:
result = df1.sort_values(by='B')
result

                   B         A         D         C
2019-01-26 -1.584088  1.299255  0.565431 -0.558894
2019-01-27 -1.331896 -1.631497  0.123840  0.798577
2019-01-24 -0.617478  1.710219 -0.659773 -0.429050
2019-01-25 -0.333579 -1.413326  2.572754  0.344648
2019-01-22  1.275169 -0.087792  0.809987 -0.087855
2019-01-23  1.309976  2.331791 -0.368692  0.950627

In [15]:
# Series 로 추출 
result.B

2019-01-26   -1.584088
2019-01-27   -1.331896
2019-01-24   -0.617478
2019-01-25   -0.333579
2019-01-22    1.275169
2019-01-23    1.309976
Name: B, dtype: float64

## 중복 제거하기

- 데이타이름[열이름].unique()

In [16]:
df1

                   B         A         D         C
2019-01-27 -1.331896 -1.631497  0.123840  0.798577
2019-01-25 -0.333579 -1.413326  2.572754  0.344648
2019-01-23  1.309976  2.331791 -0.368692  0.950627
2019-01-22  1.275169 -0.087792  0.809987 -0.087855
2019-01-24 -0.617478  1.710219 -0.659773 -0.429050
2019-01-26 -1.584088  1.299255  0.565431 -0.558894

In [17]:
# 컬럼 추가 
# 2개의 새로운 컬럼 추가 
df1["E"] = [1,4,5,5,3,4]
df1["F"] = ["alpha", "beta", "gamma", "gamma", "alpha", "gamma"]
df1

                   B         A         D         C  E      F
2019-01-27 -1.331896 -1.631497  0.123840  0.798577  1  alpha
2019-01-25 -0.333579 -1.413326  2.572754  0.344648  4   beta
2019-01-23  1.309976  2.331791 -0.368692  0.950627  5  gamma
2019-01-22  1.275169 -0.087792  0.809987 -0.087855  5  gamma
2019-01-24 -0.617478  1.710219 -0.659773 -0.429050  3  alpha
2019-01-26 -1.584088  1.299255  0.565431 -0.558894  4  gamma

In [18]:
df1['E'].unique()

array([1, 4, 5, 3])

In [19]:
df1['F'].unique()

array(['alpha', 'beta', 'gamma'], dtype=object)

## 특정값의 카운트

- 데이터프레임이름[열이름].value_counts()

In [20]:
df2 = pd.DataFrame(np.random.randn(6,4), 
                   columns = ['A','B','C','D'],
                   index = pd.date_range('20190122', periods=6))
df2["E"] = ["alpha", "beta", "gamma", "gamma", "alpha", "gamma"]
df2

                   A         B         C         D      E
2019-01-22  1.218638  0.532886  0.555088 -1.001532  alpha
2019-01-23 -0.513808  0.303441 -0.043189 -0.594883   beta
2019-01-24  1.416460 -0.590458 -1.218315 -0.780468  gamma
2019-01-25 -0.781545  1.377938 -0.949693 -1.107963  gamma
2019-01-26  0.026496 -0.522147  1.455436 -1.249483  alpha
2019-01-27 -1.830080 -0.543938 -0.902998  1.713342  gamma

In [21]:
df2['E'].value_counts()

gamma    3
alpha    2
beta     1
Name: E, dtype: int64

In [22]:
df2['A'].value_counts()

 0.026496    1
 1.218638    1
-0.781545    1
 1.416460    1
-1.830080    1
-0.513808    1
Name: A, dtype: int64

## isin() 함수 이용하기

- 데이타프레임이름.isin([데이터값1, 데이터값2])
- 데이타프레임이름[컬럼명].isin([데이터값1, 데이터값2])
- 데이터값이 있는지 확인 , True, False

In [23]:
df2

                   A         B         C         D      E
2019-01-22  1.218638  0.532886  0.555088 -1.001532  alpha
2019-01-23 -0.513808  0.303441 -0.043189 -0.594883   beta
2019-01-24  1.416460 -0.590458 -1.218315 -0.780468  gamma
2019-01-25 -0.781545  1.377938 -0.949693 -1.107963  gamma
2019-01-26  0.026496 -0.522147  1.455436 -1.249483  alpha
2019-01-27 -1.830080 -0.543938 -0.902998  1.713342  gamma

In [24]:
# 'alpha' 값이 있는 데이타 부분은 True 로 출력 
df2.isin(['alpha'])

                A      B      C      D      E
2019-01-22  False  False  False  False   True
2019-01-23  False  False  False  False  False
2019-01-24  False  False  False  False  False
2019-01-25  False  False  False  False  False
2019-01-26  False  False  False  False   True
2019-01-27  False  False  False  False  False

In [25]:
# 'alpha' 값이 있는 데이타 부분은 True 로 출력 -> Series
df2['E'].isin(['alpha'])

2019-01-22     True
2019-01-23    False
2019-01-24    False
2019-01-25    False
2019-01-26     True
2019-01-27    False
Freq: D, Name: E, dtype: bool

In [26]:
# 'alpha' , 'gamma'값이 있는 데이타 부분은 True 로 출력 -> Series
df2['E'].isin(['alpha','gamma'])

2019-01-22     True
2019-01-23    False
2019-01-24     True
2019-01-25     True
2019-01-26     True
2019-01-27     True
Freq: D, Name: E, dtype: bool

In [27]:
# 'alpha' 값이 있는 행 추출 
df2[df2['E'].isin(['alpha'])]

                   A         B         C         D      E
2019-01-22  1.218638  0.532886  0.555088 -1.001532  alpha
2019-01-26  0.026496 -0.522147  1.455436 -1.249483  alpha

In [28]:
# 'alpha' 값이 있는 행 추출 
df2[df2['E'] == 'alpha']

                   A         B         C         D      E
2019-01-22  1.218638  0.532886  0.555088 -1.001532  alpha
2019-01-26  0.026496 -0.522147  1.455436 -1.249483  alpha

In [29]:
# 'alpha', 'beta' 값이 있는 행 추출 
df2[df2['E'].isin(['alpha', 'beta'])]

                   A         B         C         D      E
2019-01-22  1.218638  0.532886  0.555088 -1.001532  alpha
2019-01-23 -0.513808  0.303441 -0.043189 -0.594883   beta
2019-01-26  0.026496 -0.522147  1.455436 -1.249483  alpha

In [30]:
df2[(df2['E'] == 'alpha') | (df2['E'] == 'beta') ]

                   A         B         C         D      E
2019-01-22  1.218638  0.532886  0.555088 -1.001532  alpha
2019-01-23 -0.513808  0.303441 -0.043189 -0.594883   beta
2019-01-26  0.026496 -0.522147  1.455436 -1.249483  alpha